.title-div
{
	position:relative;
	margin-bottom:8px;
}
.title-div div
{
	visibility:hidden;
	position:absolute;
	text-indent:9px;
}
.descTxt
{
	font-size: 11px;
	font-family:trebuchet MS;
	font-weight: normal;
	bottom: 0;
    color: gray;
    left: 100px;
    margin-bottom: 3px;
    position: absolute;
	padding:0 5px 0 5px;
}

.altrTitleLabel
{
	font-size: 12px;
	font-family:trebuchet MS;
	font-weight: bold;
	bottom: 0;
    color: #0080FF;
    left: 200px;
    margin-bottom: 3px;
    position: absolute;
}

.title-div:hover div
{
	visibility:visible;
}

select.title-select
{
	position:relative;
	z-index:10;
	cursor:pointer;
	font-size: 16px;
	font-family:trebuchet MS;
	font-weight: bold;
	color:black;
	width:auto;
	display:block;
	margin-left:8px;
}

.title-select option
{
	cursor:auto;
	font-size: 14px;
	font-family:trebuchet MS;
	font-weight: normal;
	padding-top:3px;
	padding-bottom:3px;
	color:#4e4e4e;
}

.title-select optgroup
{
	font-size: 14px;
	font-family:trebuchet MS;
	color:#0080FF;
	font-style:normal;
	padding-left:2px;
}

span.title-select{
	position:absolute;
	bottom:0;
	float:left;
	left:0;
	min-height:26px;
	line-height:26px;
	text-indent:10px;
	background:url("/atCRM/images/JSON/moreIcon.png") no-repeat right;
	cursor:default;
	z-index:1;
	font-size: 16px;
	font-family:trebuchet MS;
	font-weight: bold;
	padding-right:20px;
	cursor:pointer;
}

.titleLinks
{
	cursor:pointer;
	font-size: 12px;
	font-family:trebuchet MS;
	font-weight: normal;
	color:#0080C0;
}
.titleLinks:hover
{
	cursor:pointer;
	font-size: 12px;
	font-family:trebuchet MS;
	font-weight: normal;
	color:#0080C0;
	text-decoration:underline;
}
.grayTxt
{
	font-size: 11px;
	font-family:trebuchet MS;
	font-weight: normal;
    color: gray;
}

.menu-ul{
	list-style:none;
	padding: 10px 0px 0px 0px;
	float: right;
}

.menu-ul li{
	width:25px;
	line-height: 15px;
	float: left;
	margin-right:3px;	
}

.listPageButtons
{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	border-radius: 3px;
    border: 1px solid #89C3EB;
	padding: 4px 4px 4px 25px;
	min-width:35px;	
    color: white;
    font-family:trebuchet MS;
    font-size: 12px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}
.listPageButtons:hover
{
	background: rgb(184,225,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
	background-repeat: repeat-x;
	background-position:0px;
}

.addButton
{
	background: url("/atCRM/images/JSON/plus-white.png"), #1e5799; /* Old browsers */
	background: url("/atCRM/images/JSON/plus-white.png"), -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: url("/atCRM/images/JSON/plus-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: url("/atCRM/images/JSON/plus-white.png"), -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: url("/atCRM/images/JSON/plus-white.png"), -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: url("/atCRM/images/JSON/plus-white.png"), -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: url("/atCRM/images/JSON/plus-white.png"), linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat;
	background-position: 7px 5px,0px;
}
.addButton:hover
{
	background:url("/atCRM/images/JSON/plus-white.png"), rgb(184,225,252); /* Old browsers */
	background:url("/atCRM/images/JSON/plus-white.png"), -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
	background:url("/atCRM/images/JSON/plus-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
	background:url("/atCRM/images/JSON/plus-white.png"), -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background:url("/atCRM/images/JSON/plus-white.png"), -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
	background:url("/atCRM/images/JSON/plus-white.png"), -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
	background:url("/atCRM/images/JSON/plus-white.png"), linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
	background-repeat: no-repeat,repeat-x;
	background-position: 7px 5px, 0px;
}
.refreshButton
{
	background: url("/atCRM/images/JSON/reload-white.png"), #1e5799; /* Old browsers */
	background: url("/atCRM/images/JSON/reload-white.png"), -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: url("/atCRM/images/JSON/reload-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: url("/atCRM/images/JSON/reload-white.png"), -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: url("/atCRM/images/JSON/reload-white.png"), -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: url("/atCRM/images/JSON/reload-white.png"), -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: url("/atCRM/images/JSON/reload-white.png"), linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat,repeat-x;
	background-position: center, 0px;
	min-width:25px;
	padding: 4px 4px 4px 4px;
}
.refreshButton:hover
{
	background:url("/atCRM/images/JSON/reload-white.png"), rgb(184,225,252); /* Old browsers */
	background:url("/atCRM/images/JSON/reload-white.png"), -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
	background:url("/atCRM/images/JSON/reload-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
	background:url("/atCRM/images/JSON/reload-white.png"), -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background:url("/atCRM/images/JSON/reload-white.png"), -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
	background:url("/atCRM/images/JSON/reload-white.png"), -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
	background:url("/atCRM/images/JSON/reload-white.png"), linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
	background-repeat: no-repeat,repeat-x;
	background-position: center, 0px;
}
.noIcon
{
	padding:4px 10px;
}

.listToolsMenu
{   
	background:url("/atCRM/images/JSON/tools-white.png"),url("/atCRM/images/JSON/moremenu-white.png"), #1e5799; /* Old browsers */
	background:url("/atCRM/images/JSON/tools-white.png"),url("/atCRM/images/JSON/moremenu-white.png"), -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background:url("/atCRM/images/JSON/tools-white.png"),url("/atCRM/images/JSON/moremenu-white.png"), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background:url("/atCRM/images/JSON/tools-white.png"),url("/atCRM/images/JSON/moremenu-white.png"), -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background:url("/atCRM/images/JSON/tools-white.png"),url("/atCRM/images/JSON/moremenu-white.png"), -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background:url("/atCRM/images/JSON/tools-white.png"),url("/atCRM/images/JSON/moremenu-white.png"), -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background:url("/atCRM/images/JSON/tools-white.png"),url("/atCRM/images/JSON/moremenu-white.png"), linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	background-repeat: no-repeat,no-repeat,repeat-x;
	background-position: 4px 5px,57px 11px,0px;
	border-radius: 3px 5px 3px 3px;
    border: 1px solid #89C3EB;
	padding: 4px 15px 4px 20px;
	min-width:35px;
    color: white;
    font-family:trebuchet MS;
    font-size: 12px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}
.listToolsMenu div
{
	display:none;
	z-index:100;	
	text-align:left;
}
.listToolsMenu:hover div
{
	display:block;
}
.listToolsMenuUL
{
    border: 1px solid #89C3EB;
	border-radius: 0px 0px 5px 5px; 
	position:absolute;
	width:110px;
	margin:0px 0px 0px -60px;
	padding:0px;
	z-index:100;
	background: #EBF1F6; /* Old browsers */
}
.listToolsMenuLi
{
	list-style:none;
	width:100px !important;
	float:left;
	padding:4px 0px 0px 10px;
	margin:0px;	
	cursor:pointer;
    font-size: 12px;
    font-weight: bold;
}
.listToolsMenuLi a
{
    font-family:trebuchet MS;
	color: black;
    line-height: 24px;
    text-decoration: none;
}
.listToolsMenuLi:hover
{
	background: rgb(184,225,252); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(184,225,252,1) 0%, rgba(169,210,243,1) 10%, rgba(144,186,228,1) 25%, rgba(144,188,234,1) 37%, rgba(144,191,240,1) 50%, rgba(107,168,229,1) 51%, rgba(162,218,245,1) 83%, rgba(189,243,253,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(184,225,252,1)), color-stop(10%,rgba(169,210,243,1)), color-stop(25%,rgba(144,186,228,1)), color-stop(37%,rgba(144,188,234,1)), color-stop(50%,rgba(144,191,240,1)), color-stop(51%,rgba(107,168,229,1)), color-stop(83%,rgba(162,218,245,1)), color-stop(100%,rgba(189,243,253,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(184,225,252,1) 0%,rgba(169,210,243,1) 10%,rgba(144,186,228,1) 25%,rgba(144,188,234,1) 37%,rgba(144,191,240,1) 50%,rgba(107,168,229,1) 51%,rgba(162,218,245,1) 83%,rgba(189,243,253,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8e1fc', endColorstr='#bdf3fd',GradientType=0 ); /* IE6-9 */
}

.viewLabel
{
	padding:2px;
	border:1px solid transparent;
}

.viewLabel:hover
{
	padding:2px;
	border:1px solid #E2E2E2;
	cursor:pointer;
}
/*************************/

	#dashBoardSortable { list-style-type: none; margin: 0; padding: 0; }
	#dashBoardSortable .ui-state-default { margin: 5px 5px 5px 10px; padding: 1px; float: left; cursor:move; height: 260px; font-size: 12px; text-align: center; border-radius: 5px 5px 0 0; background:white}
	.portlet {
		margin: 0em 0.5em 0.5em 0em;
		width:100%; cursor:move;
		align: center;
	}
	.portlet-header { 
		padding-bottom: 4px; 
		height:14px; 
		text-align:center; 
		padding:10px;
		border-radius:5px 5px 0 0;
		border: none;
		vertical-align: middle;
	}

	.ui-widget-header{
		color:black;
		text-align:left;
		font-family:Tahoma,Verdana;
		font-size:12px;
		font-weight:normal;
		background: rgb(234,185,45); // Old browsers 
		background: -moz-linear-gradient(top,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%); // FF3.6+ 
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,185,45,1)), color-stop(100%,rgba(199,152,16,1))); // Chrome,Safari4+ 
		background: -webkit-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); // Chrome10+,Safari5.1+ 
		background: -o-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); // Opera 11.10+ 
		background: -ms-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); // IE10+ 
		background: linear-gradient(to bottom,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%); // W3C 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 ); // IE6-9 
		padding-bottom: 4px;
		/*height:14px;*/
		text-align:left; 
		padding:10px;
		border-radius:5px 5px 0 0;
		border: none;
		vertical-align: middle;
	}
	
	.ui-widget input{font-size:13px;font-family:Trebuchet MS;}

	.div{ height:210px;color:#333333;overflow-x:hidden;overflow-y:auto;}

	.ui-dialog .ui-dialog-titlebar {
		padding: 10px;
		position: relative;
	}
	.delete_class {cursor:pointer;float:right;position:relative;width:14px;height:14px;margin-top:-2px; }
	.img_class {cursor:pointer;float:right;position:relative;width:14px;height:14px;margin-top:-2px; }
	.normal_font {font-size:12px; font-family: Tahoma, Verdana;}
	.border_curve {border-radius:5px;}
	.label_disp_class {display:none;color:red;background-color:#FFDC77;text-align:center;margin-left:110px;
		width:120px;}
	.Select_dashB{
		border: none;
		font-size:16px;
		font-family:Tahoma, Verdana;
		font-weight: bold;
		width:320px;
	}
	.Select_dashB option{
		font-size:14px;
		font-family:Tahoma, Verdana;
		font-weight: normal;
	}

	.modificationClass{
		color:#0000FF;
		cursor:pointer;
	}

	.OnhoverModification{
		color:#000080;
		cursor:pointer;
		text-decoration:underline;
	}
	.imghover{
		background-image:url('/atCRM/images/edit_pen.png');
		margin-right:2px;
	}

	.imghover ul{
		font-size: 12px;
		font-family: Tahoma, Verdana;
		list-style:none;
		margin-top:-25%;
		margin-left:0%;
		padding:0px;
		width:320px;
		border-radius: 3px;
		background-color: #B8D4ED;
		text-align:left;
		display:none;
		z-index:1500;
	}

	.imghover ul li{
		color:black;
		font-weight:normal;
		float:right;
		width:90px;
		text-align:left;
		height:15px;
		padding:5px;
	}

	.imghover:hover ul {
		display:inline-block;
	}

	.imghover ul li:hover{
		font-weight:bold;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
	}
	
	.ahover{color:blue;cursor:pointer;}
	.ahover:hover{color:#110883;text-decoration:underline;}
	

	
.twitter-btn {
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
	background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
	background-image: -o-linear-gradient(top,#fff,#e6e6e6);
	background-image: linear-gradient(to bottom,#fff,#e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #bbb;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border-bottom-color: #a2a2a2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

.twitter-btn-warning {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top,#fbb450,#f89406);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fbb450),to(#f89406));
	background-image: -webkit-linear-gradient(top,#fbb450,#f89406);
	background-image: -o-linear-gradient(top,#fbb450,#f89406);
	background-image: linear-gradient(to bottom,#fbb450,#f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}

.twitter-btn-danger {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #da4f49;
	background-image: -moz-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ee5f5b),to(#bd362f));
	background-image: -webkit-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: -o-linear-gradient(top,#ee5f5b,#bd362f);
	background-image: linear-gradient(to bottom,#ee5f5b,#bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b',endColorstr='#ffbd362f',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.grad;	
}
	
