.calendarTableClass
{
    BACKGROUND: #eeeeee;
    FONT-FAMILY: verdana, tahoma;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold
}
.calendarTableCaptionClass
{
    BACKGROUND: #eeeeee;
    FONT-FAMILY: verdana, tahoma;
    FONT-SIZE: 9px;
    FONT-WEIGHT: bold
}
.arrowClass
{
    BACKGROUND: #cccccc
}
.listWhiteRowNew 
{    
	background-color: "white";
	FONT-FAMILY: Verdana, Tahoma;
         FONT-SIZE: 11px;
         padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
	padding-right:2px;
}	


.listTableRow
{
    BACKGROUND-COLOR: #eeeeee;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt
}

.CellCont
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt
}
.ModHead
{
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial, Times New Roman;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-ALIGN: left;
    
}
.TblCont
{
    BACKGROUND-COLOR: #9db5d1;
    BORDER-BOTTOM: 0pt;
    BORDER-LEFT: 0pt;
    BORDER-RIGHT: 0pt;
    BORDER-TOP: 0pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt;
    PADDING-RIGHT: 0pt;
    TEXT-ALIGN: left
}

.TblContVertical
{
	
	
	background-color: #DFDFDF;
	font: 11px tahoma,verdana,arial;
	padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
	padding-right:2px;	
	FONT-SIZE: 8pt;
    	TEXT-ALIGN: left
}
.TblHeadVertical
{
    BACKGROUND-COLOR: dfdfdf;
     COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt;
   
}

.TblHeadVerticalNoCol

{
     COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt;
   
}


.PageBody
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Verdana
    FONT-SIZE: 8pt
}
BODY
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt
}
.Treecellcontent
{
    BACKGROUND-COLOR: #fff0e9;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt
}
.TreeTblHead
{
    BACKGROUND-COLOR: #fff0e9;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    TEXT-TRANSFORM: capitalize
}
.listTemplateTableClass
{
    BACKGROUND-COLOR: #fff0e9;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-COLLAPSE: collapse;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-TOP-WIDTH: 1px
}
.browseByTemplateTableClass
{
    BACKGROUND-COLOR: #fff0e9;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-COLLAPSE: collapse;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-TOP-WIDTH: 1px
}
.browseByTemplateTableRowClass
{
    BACKGROUND-COLOR: #eee0e9
}
.browseByLabelClass
{
    FONT-WEIGHT: bold
}


.LoginBody
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Verdana
    FONT-SIZE: 8pt
}



.BannerWelcomeCell
{
    COLOR: black;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12pt;
    FONT_WEIGHT: bold
}


.MenuFrameBody
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Verdana
    FONT-SIZE: 8pt;
}



.MenuFrameMenuItem
{
    BACKGROUND-COLOR: white;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma;
    FONT-SIZE: 8pt;
}

.ZeroCodeList
{
    BACKGROUND-COLOR: #DFDFDF;
    COLOR: black;
    padding-top:2px;
    padding-left:2px;
    padding-bottom:2px;
    padding-right:2px;

}

.ZeroCodeMatrix
{
    BACKGROUND-COLOR: white;
    COLOR: black;
}



.ZeroCodeMatrixLabel
{
    COLOR: black;
    FONT-FAMILY: Arial, Verdana, Tahoma;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
}


.ZeroCodeMatrixCell
{
    BACKGROUND-COLOR: white;
    BORDER-BOTTOM: 0pt;
    BORDER-LEFT: 0pt;
    BORDER-RIGHT: 0pt;
    BORDER-TOP: 0pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Tahoma, Arial;
    FONT-SIZE: 8pt;
    PADDING-RIGHT: 0pt;
}



.listGrayRow
{
    BACKGROUND-COLOR: #C0C0C0;
    FONT-FAMILY: Verdana, Tahoma;
    FONT-SIZE: 11px;
}

.banner
{
     FONT-FAMILY: Verdana, Tahoma;
    FONT-SIZE: 11px;
}



.buttonClass
{
    BACKGROUND-COLOR: #aacccc;
    BORDER-BOTTOM: 2pt outset;
    BORDER-LEFT: 2pt outset;
    BORDER-RIGHT: 2pt outset;
    BORDER-TOP: 2pt outset;
    CURSOR: hand;
    FONT-SIZE: 8pt
}


.RibbonCellCont
{
    BACKGROUND-COLOR: #faebd7;
    COLOR: black;
}

.nonNullableItemLabel
{
    COLOR: red;
}

.ClickLinkPage
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    COLOR:red
    
}
.LinkPage
{
    FONT-FAMILY: Arial;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    COLOR:blue
}

.indentCell
{
    BACKGROUND-COLOR: white;
}


.pagingRibbonBox {
    font-size: 7pt;
    font-family: Tahoma, Verdana, Arial;
}


.pagingRibbonGoButton {
    font-size: 7pt;
    font-family: Tahoma, Verdana, Arial;
}

.smallFontElement {
    FONT-FAMILY: Arial, Verdana, Tahoma;
    FONT-SIZE: 8pt;
}




.inputFieldClass {
    /* For Mozilla and other CSS-compliant browsers: */
    background-color: #F7FAFF;

    /* For IE: */
    background-color: expression((this!=document.activeElement) ? "#F7FAFF" : "#DAD2FF");

    border: 2px dotted #999999;
    font-size: 8pt;
    font-family: Tahoma, Verdana, Arial;
}


.inputFieldClass:focus {
    background-color: #DAD2FF;
    font-size: 8pt;
    font-family: Tahoma, Verdana, Arial;
    border: 2px dotted #999999;
}


.invalidInputFieldClass {
    background-color: #ffccee;
    border: 2px dotted red;
    font-size: 8pt;
    font-family: Tahoma, Verdana, Arial;
}


div#zc__errorDiv {
    background-color: #ddddee;
}


.listWhiteRow 
{    
	background-color: #C0C0C0;
	FONT-FAMILY: Verdana, Tahoma;
         FONT-SIZE: 11px;
         padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
	padding-right:2px;
}	


.TblHead
{
	font: 11px tahoma,verdana,arial;
	font-weight:bold;
	background-color: rgb(192,192,192);
	color:rgb(0,0,0);
         padding-top:2px;
	padding-left:2px;
	padding-bottom:2px;
	padding-right:2px;


	
}

.cssWAMstandardButton
{
	cursor: hand;
	background-color: #F4F4F4;
	font: 8pt Tahoma;
	width: 75px;
}


.tblHeader

.tblHeader{
	font: 11px tahoma,verdana,arial;
	background-color: rgb(192,192,192);
	color:rgb(0,0,0);

}

.GrayBackground {
     background-color: #E5E5E5;
   }


.whiteBackground {
    background-color: #FFFFFF;
   }